.projects-container img {
  margin-top: 0px; 
  width: 50%;
}

.project-links {
  width: 100%;
  display: flex;
  margin: 10px 0;
}
.project-links__link  {
  border-radius: 3px;
  background: #f4f4f4;
  padding: 5px 10px; 
  display: flex;
  justify-content: space-around;
}

/*clearfix*/
.projects-container:after {
  content: "";
  display: table;
  clear: both;
}

.project-info {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width:500px) {
    
  /* 
    other (more specific) CSS selectors not working
    like 
      .projects-image
      .projects-info img
  */
  img { 
    display: none;
  }
}


@media screen and (max-width:650px) {
  img { 
    display: none;
  }
}


/* blog styling */