.projects-container img {
  margin-top: 0px; 
  width: 50%;
}

.project-links {
  height: 50px;
  width: 100%;
  display: flex;
  margin: 10px 0;
  display: flex;
  /*align-items: center;*/
}
.project-links__link  {
  border-radius: 3px;
  background: #f4f4f4;
  padding: 5px 10px; 
  display: flex;
  /*justify-content: space-around;*/
}

/*clearfix*/
.projects-container:after {
  content: "";
  display: table;
  clear: both;
}

.project-info {
  margin-left: auto;
  margin-right: auto;
}

span.icon { display: none; }

span.text { 
  display: inline-block; 
  margin-bottom: 30px;
}

@media screen and (max-width:650px) {
    /* 
    other (more specific) CSS selectors not working
    like 
      .projects-image
      .projects-info img
  */
  img { 
    display: none;
    /*border: 1px solid red;*/
  }
/*
  .project-image {
    border: 1px solid black;
  }*/

  span.icon { display: inline-block; }
  span.text { display: none; }
}


/* blog styling */