.project {
  display: flex;
  margin-bottom: 75px;
}

.project:first-child {
  margin-top: 50px;
}

.project__image {
  height: 150px;
  border: 1px solid grey;
}

.project__details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 15px;
}

.project__details__tools {
  font-size: 80%;
}


